#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // R0
                &kp N6      &kp N5      &kp N4      &kp N3      &kp N2      &kp N1      &none

                // R1 -> щ ц к л б й
                &kp O       &kp W       &kp R       &kp K       &kp COMMA   &kp Q       &none

                // R2 -> ч з в н т д
                &kp X       &kp P       &kp D       &kp Y       &kp N       &kp L       &none

                // R3 -> ж х п р м г
                &kp SEMI    &kp LBKT    &kp G       &kp H       &kp V       &kp U       &none

                // R4 (thumb)
                &kp LSHFT   &kp TAB     &kp SPACE   &kp ENTER   &kp BSPC    &kp MINUS   &kp PLUS
            >;
        };
    };
};
