#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // R0
                &none   &kp V     &kp K      &kp SEMI   &kp COMMA  &kp DOT    &kp FSLH

                // R1
                &none   &kp O     &kp A      &kp N      &kp R      &kp LBKT   &kp RBKT

                // R2
                &none   &kp D     &kp U      &kp MINUS  &kp EQUAL  &kp SQT    &kp BSLH

                // R3
                &none   &kp N1    &kp N2     &kp N3     &kp N4     &kp N5     &kp N6

                // R4
                &kp SPACE &kp ENTER &kp BSPC &kp TAB    &kp ESC    &kp LSHFT  &kp DEL
            >;
        };
    };
};
